html {
  font-size: 16px;;
}

@media (max-width: 768px) {
  html{
    font-size: 14px;
  }
}

#imagen1 {
  width: 50%;
  height: 50%;
}

#lorem {
  font-size: 2rem;
}

h2 {
  text-decoration: underline;
}
