html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'arial';
    background-color: #0c7f29;
    min-height: 100%;
    position: relative;
    padding: 0;
    padding-bottom: 3em;
    margin: 0;
}

header {
    padding: 1em;
    background-color: #8b8e8c;
    border-radius: 10em;
    margin: 0;
}

header h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'times new roman';
}

.columna {
    float: left;
    width: 30%;
    box-sizing: border-box;
}

.fila {
    content: "";
    display: table;
    clear: both;
    box-sizing: inherit;
}

article {
    margin: 1.5em;
    border: 0.1em solid black;
    background-color: #a6a8a6;
    padding: 1em;
}

h2 {
    text-align: center;
    border: 0.1em solid black;
    width: 30%;
    background-color: #515652;
    color: white;
    margin-left: 70%;
    margin-top: 0;
}

p {
    padding: 0.4em;
}

@media screen and (max-width: 76.8em) {
    .columna {
        width: 100%;
    }
}

footer {
    bottom: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #8b8e8c;
    
}
