main {
    font-family: arial;
    font-size: 1.5em;
    padding-left: 3em;
}

aside img {
    width: 5em;
    margin-left: 10px;
    padding: 1%;
}

.contenedor img {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.contenedor {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

article ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3em;
    padding-right: 5em;
    margin: 0;
}

article ul li a {
    text-decoration: none;
    padding: 1.5em;
    background-color: #3f3f3d;
    color: aliceblue;
    border-radius: 0.5em;
}

article ul li a:hover {
    background-color: #5b5c60;
}